body{
    background: url("/static/images/kitchen-background.png");
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
body{
    margin-top: 80px;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
}
.flashes{
    width: 500px;
    text-align: center;
}
#random_recipe{
    margin-left: 30px;
    margin-top: 10px;
    width: 180px;
}
form{
    height: 0px;
}