<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if mode == "login" %}
            Log In
        {% else %}
            Create Account
        {% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/userforms.css">
</head>
<body>
{% include "navbar.html" %}
<h2>
    {% if mode == "login" %}
        Log In
    {% else %}
        Create Account
    {% endif %}
</h2>
<div class="container-fluid">
<form id="user_account_form" action="" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <span></span><br>
    <label for="password">Password:</label>
    <input type ="password" id="password" name="password">
    <span></span><br>
    {% if mode == "signup" %}
    <label for="password_2">Re-enter password:</label>
    <input type ="password" id="password_2" name="password_2">
    <span></span><br>
    {% endif %}
    <input type="button" id="submit_account" name="submit_account" value="Submit">
</form>
</div>
<script src="../static/js/account_verification.js"></script>
</body>
</html>